<strong>Hello, {{ provider }}</strong>
<p>One of the scheduled services has been canceled. Check out the details below:</p>
<p>
    <strong>Client: </strong>{{ user }} <br />
    <strong>Date: </strong>{{ date }} <br />
    <br />
    <small>The time for this canceled service is now available for new appointments.</small>
</p>
